@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Space+Mono:wght@400;700&display=swap");

:root {
  --color-1: #850e35;
  --color-2: #0a2647;
  --color-3: #eb455f;
  --color-4: #3ccf4e;
  --color-5: #dcd7c9;
  --color-6: #c4ddff;
  --color-7: #6ebf8b;
  --font-1: "Roboto";
  --font-2: "Space Mono";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
}

.section-center {
  margin: 150px auto;
  box-shadow: 1px 1px 10px gray;
  max-width: 50vw;
  border-radius: 5px;
  padding: 2rem;
}

.status-1 {
  color: var(--color-7);
  visibility: visible !important;

}

.status-2 {
  color: var(--color-3);
  visibility: visible !important;
}

.status {
  /* display: none; */
  visibility: hidden;
}

.hidden {
  visibility: hidden;
}

.status p {

}

.status p,
.header h1,
.form button,
.form input,
.clear button {
  font-family: var(--font-1);
}

.header {
  margin-top: 10px;
}

.header h1 {
  text-transform: capitalize;
  color: var(--color-2);
  letter-spacing: 3px;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.form input,
.form button {
  border-radius: 5px;
}

.form input,
.form button,
.clear button {
  border: none;
}

.form input {
  font-size: 1.3rem;
  padding-left: 10px;
  flex: 1 0 auto;
}

.form button {
  padding: 5px;
  background-color: var(--color-6);
  font-size: 1rem;
  cursor: pointer;
  text-transform: capitalize;
}

.list {
  list-style-type: none;
}

.clear button {
  background-color: transparent;
  color: var(--color-1);
}

.list {
  padding: 3rem 1rem;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  transition: 0.3s;
}

.list-item:hover {
  background-color: var(--color-6);
  border-radius: 10px;
}

.item-content {
  font-family: var(--font-2);
  overflow: auto;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-edit {
  margin-right: 5px;
  color: var(--color-4);
}

.btn-delete {
  color: var(--color-3);
}

.clear button {
  cursor: pointer;
  font-size: 1rem;
  text-transform: capitalize;
}

@media screen and (min-width: 800px) {
  
}
